@charset "UTF-8";
@import 'sass/variables';

body, html {
    @import 'sass/reset';
    font-family: $ppal-font;
    background-color: $clear;
    color: $dark;
}



body {
    @import 'sass/header';
    @import 'sass/main';
    @import 'sass/footer';
    @import 'sass/about';
    @import 'sass/travel';
    @import 'sass/go';
    @import 'sass/end';
}

#website{
    max-width: 1366px;
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
}