.go{
    min-width: 100vw;
    min-height: 100vh;
    &__imagecontainer{
        display: block;
        width: 100vw;
        height: 100px;
        overflow: hidden;

        img{
            width: 100vw;
            filter: grayscale(1);
            object-fit: cover;
            object-position: 50% 50%;
        }

        @media screen and (min-width: 600px) {
            height: 200px;
        }

        @media screen and (min-width: 1080px) {
            height: 300px;
        }

        @media screen and (min-width: 1366px) {
            height: 500px;
            min-width: unset;
            width: 100%;
        }
    }

    &__info{
        h2{
            width: 80%;
            padding-bottom: 10px;
            padding-left: 10%;

            font-weight: 700;
            font-size: 40px;

            @media screen and (min-width: 768px) {
                font-size: 70px;
            }

            @media screen and (min-width: 1080px) {
                font-size: 120px;
            }

        }
        p{
            margin-left: 10%;
            margin-top: 30px;
            padding-left: 20px;
            padding-right: 30px;
            border-left: 10px solid $dark;
    
            font-size: 18px;
            text-align: justify;

            @media screen and (min-width: 768px) {
                margin: 50px 10%;
                font-size: 30px;
            }

            @media screen and (min-width: 1080px) {
                margin: 20px 10%;
                font-size: 50px;
            }
        }
    }

    @media screen and (min-width: 1080px) {
        min-height: unset;
    }
    @media screen and (min-width: 1366px) {
        min-width: unset;
        width: 100%;
    }
}